$colorSelectSite: #F16D7F;
$widthSite: 1140px;
$widthSiteTablet: 736px;
$widthSiteMobil: 370px;
$backBlock: #222;
$colorText: #000;
$colorHeaderIcon: #E8E8E8;
$gapGrid: 30px;
$thirdSite: ($widthSite - $gapGrid * 2) / 3;
$widthMenuBurger: 0;